.navbarheader {
  background-color: #060229 !important;
  padding: 10px;
}
.navbarsubmitbutton {
  background-color: #fe9933 !important;
  color: #fff !important;
  margin-right: 18px !important;
  padding: 14px 24px !important;
}
.links {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  border-bottom: 1px solid transparent;
}
.links:hover {
  color: yellow;
  border-bottom: 1px solid white;
}
.navlinks {
  margin-left: 10px;
  display: flex;
}
.logo {
  flex-grow: 1;
  cursor: pointer;
  font-size: 18px;
}
