.cardHeaders {
  /* white-space: nowrap !important; */
  padding: 0px 5px !important;
  font-size: 14px !important;
}
.imgIcon {
  width: 16px;
  margin: 3px 6px;
  height: 16px;
}
.card-content {
  border-bottom: 3px solid #edf0f7 !important;
}
