.cardHeaders {
  /* white-space: nowrap !important; */
  font-size: 14px !important;
}
.cardHeaders1 {
  /* padding: 0px 5px !important; */
  white-space: nowrap !important;
  font-size: 14px !important;
}
.imgIcon {
  width: 16px;
  margin: 3px 6px;
  height: 16px;
}
.card-content {
  border-bottom: 3px solid #edf0f7 !important;
  margin: 10px 0px !important;
}
.css-46bh2p-MuiCardContent-root {
  padding: 10px !important;
}
