.searchfilterwrapper {
  display: flex;
}
.wrapperClass {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.submitButton {
  background-color: #fe9933 !important;
  color: #fff !important;
  margin-left: 18px !important;
  width: 151px !important;
  height: 55px !important;
}

.refreshbotton {
  /* width: 140px !important; */
  width: fit-content !important;
  height: 56px !important;
  background-color: #fe9933 !important;
  color: #fff !important;
}
.botsdashboardContainer {
  padding: 20px !important;
}
.botsdashboardicon {
  margin: 15px 0px;
}
.sortingbotton {
  /* width: 90px !important; */
  height: 55px !important;
  background-color: #fe9933 !important;
  color: #fff !important;
}
/* .buttonend {
  display: flex !important;
  justify-content: end !important;
} */
.paginationWrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 30px !important;
}
.paginatiobutton {
  background-color: #fe9933 !important;
  color: #fff !important;
}
.gridCardBody {
  padding-top: 10px !important;
}
.IconButtonWrapper {
  float: right;
  bottom: 10px;
  color: #fe9933 !important;
}
.textFieldWrapper {
  width: 298px;
  height: 59px;
  border-color: #d5d5d5;
  border-width: 1px;
  border-radius: "5px";
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .refreshbotton {
    /* width: 100px !important; */
    height: 50px !important;
    padding: 10px !important;
  }
  .sortingbotton {
    width: 70px !important;
    height: 50px !important;
  }
  .cardHeaders {
    font-size: 14px !important;
  }
}
