.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.buttonwraper {
  display: flex;
  justify-content: space-around;
}
.MuiInputBase-input {
  width: 356px !important;
  height: 20px !important;
}
.submitbutton {
  background-color: #fe9933 !important;
  color: #fff !important;
  margin-left: 18px !important;
  width: 151px !important;
  height: 55px !important;
}
.errorMsgBody {
  color: red;
}
@media (max-width: 720px) {
  .MuiInputBase-input {
    width: 100% !important;
    height: 20px !important;
  }
  .makeStyles-button-5 {
    width: 100px !important;
  }
}
